@media only screen and (max-width: 1200px) {
  .mainForm3__area {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
  .mainForm3__left {
    width: 50%;
    padding: 0 30px 0 0;
  }
  .mainForm3__right {
    width: 50%;
  }
}

@media only screen and (max-width: 920px) {
  .zBlock3 {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .zBlock1__intro {
    text-align: center;
  }
  .form1 {
    flex-direction: column;
  }
  .form1 input {
    margin-bottom: 10px;
    width: 100%;
  }
  .form1 .submit1 {
    width: 100%;
    line-height: 3;
  }
  .zBlock1__intro span {
    display: flex;
    flex-direction: column;
  }
  .form13 {
    width: 100%;
  }
  .mainForm3__area {
    margin: 0 0 10px;
  }
  .mainForm3__left {
    width: 70%;
    padding: 0;
  }
  .mainForm3__right {
    display: none;
  }
  .form_m3 {
    max-width: none;
  }
}

@media only screen and (max-width: 600px) {
  .zBlock3__left {
    display: none;
  }

  .zBlock3__right {
    width: 100%;
    padding: 0 30px 0 30px;
  }
  .zBlock3__intro h2 {
    margin: 0 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .zBlock3__area {
    margin: 20px 0;
  }
  .zBlock3__intro {
    margin-bottom: 10px;
  }
  .form13 input {
    line-height: 2rem;
    margin-bottom: 10px;
  }
  .form13 label {
    margin-bottom: 5px;
  }
  .mainForm3__left {
    width: 100%;
  }
}

@media only screen and (max-width: 414px) {
  .zBlock3__right {
    padding: 0 20px 0 20px;
  }
}

@media only screen and (max-width: 320px) {
}
