.header {
  padding: 10px 0 2px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* background: var(--bg1); */
}

.topLine {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.topLine:before {
  content: "";
  height: 1px;
  margin-right: 15px;
  /* margin-left: 15px; */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: var(--bg2);
}
.topLine:after {
  content: "";
  height: 1px;
  /* margin-right: 15px; */
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: var(--bg2);
}

.topLine__inner {
  display: flex;
  align-items: center;
}

.topLine__inner span {
  font-size: 0.875rem;
  line-height: 1;
}
.topLine__inner a {
  font-size: 0.875rem;
  line-height: 1;
  margin-left: 20px;
  color: var(--tc1);
  text-decoration: none;
}
.topLine__inner a:hover {
  text-decoration: underline;
}

.header__line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1px 0;
}

.logo1 {
  position: relative;
  width: 100%;
  max-width: 200px;
}
.logo1 img {
  /* width: 140%; */
  display: block;
}

.header__phoneArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phoneItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.3125rem;
}
.header__phoneItem span {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--x1grey);
  margin-right: 0.625rem;
}
.header__phoneItem a {
  font-size: 1.125rem;
  color: var(--tc1);
  text-decoration: none;
}
.header__phoneItem a:hover {
  text-decoration: underline;
}

.header__phoneItemText {
  font-size: 0.75rem;
  line-height: 1;
  color: var(--x1grey);
}

.header__rightBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.header__callAction {
  border: 1px solid var(--bg2);
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 5px;
}
.header__callAction:hover {
  border: 1px solid var(--color1);
}

.header__callAction span {
  font-size: 1rem;
  line-height: 1;
  color: var(--color1);
}

.header__callAction i {
  font-size: 1.25rem;
  color: var(--color1);
  line-height: 1;
  display: none;
}

.header__callAction2 {
  display: flex;
  border: 1px solid var(--bg2);
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  width: 100%;
  justify-content: center;
}
.header__callAction2:hover {
  border: 1px solid var(--color1);
}

.header__callAction2 span {
  font-size: 1rem;
  color: var(--color1);
}

.header__callAction2 i {
  font-size: 1.25rem;
  color: var(--color1);
  display: none;
}

.socialLink {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.socialLink a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 5px;
}
.socialLink a:last-child {
  margin-bottom: 0;
}

.socialLink a:hover p {
  text-decoration: underline;
}

.socialLink a p {
  font-size: 0.75rem;
  line-height: 1.3;
  margin-right: 5px;
  color: var(--tc0);
  text-align: right;
}

.socialLink a span {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.socialLink a span i {
  /* color: var(--color1); */
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none !important;
}

.sVk {
  background: #2241a4;
}

.sIg {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); */
}

.sFb {
  background: #417bf0;
}

.sOk {
  background: #e47d08;
}
