@media only screen and (max-width: 1200px) {
  .topLine3 {
    padding: 10px;
  }
  .header3 {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
  .header3__menuBtn {
    display: block;
  }
  .topMenu3 {
    display: none;
  }
  .topLine3__menu {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .topLine3__address {
    margin: 0;
  }
  .topLine3__time {
    display: none;
  }
  .topLine3__sLinkItem {
    margin: 0 20px 0 0;
  }

  /* .header3__area {
    display: none;
  } */
  .solution3__btn {
    display: none;
  }
  .header3__contItemInfo {
    display: none;
  }
  .header3__contItem {
    margin: 0 30px 0 auto;
  }
  .header3__contItem i {
    font-size: 2.375rem;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .topLine3__sLinkItem {
    margin: 0 10px 0 0;
  }
  .topLine3__address i {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .topLine3 {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 320px) {
}
