@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
  .mainTop {
    flex-direction: column;
  }
  .mainTop__left {
    order: 2;
    width: 100%;
  }
  .mainTop__right {
    order: 1;
    width: 100%;
  }
  .mainTop__menuItemOuter {
    position: relative;
    width: 25%;
  }

  .mainTop__menuItemWrapper {
    width: 100%;
    height: 0;
    padding-top: 60%;
    position: relative;
  }
  .mainTop__menuItem {
    padding: 15px;
  }
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
  .mainTop__menuItemWrapper {
    height: auto;
    padding: 0;
  }
  .mainTop__menuItem {
    position: relative;
  }
  .mainTop__menuItemBottom {
    display: none;
  }
  .mainTop__menuItemTop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainTop__menuItemTitle {
    order: 2;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .mainTop__menuItemOuter {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .mainTop__menuItem {
    padding: 10px;
    background: linear-gradient(#272e36, #c5c6c7);
  }
  .mainTop__menuItemTitle {
    font-size: 1.25rem;
  }

  .mainTop__menuItemTop i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
