.mainTop__area {
  position: relative;
}

.mainTop__outer {
  position: relative;
}

.mainTop {
  display: flex;
  margin: 0 -10px;
}

.mainTop__left {
  width: 50%;
  position: relative;
}
.mainTop__promo {
  width: 100%;
  position: relative;
  padding: 10px;
}

.mainTop__promo video {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
}

.mainTop__right {
  width: 50%;
  position: relative;
}

.mainTop__menu {
  display: flex;
  flex-wrap: wrap;
}

.mainTop__menuItemOuter {
  width: 50%;
  height: 50%;
  position: absolute;
}

.mainTop__menuItemOuter_a {
  /* background: var(--bg0); */
  /* background: #e7b9b9; */
  left: 0;
  top: 0;
}
.mainTop__menuItemOuter_b {
  /* background: #ac6f52;
  background: rgba(89, 32, 4, 0.3); */
  right: 0;
  top: 0;
}
.mainTop__menuItemOuter_c {
  left: 0;
  bottom: 0;
}
.mainTop__menuItemOuter_d {
  right: 0;
  bottom: 0;
}

.colorBox_a {
  background: #aba299;
  color: #000;
}
.colorBox_b {
  background: #6a6e79;
  color: #fff;
}
.colorBox_c {
  background: #c24b35;
  color: #fff;
}
.colorBox_d {
  background: #3a2f29;
  color: #fff;
}

.colorBox_e {
  background: var(--x1greySuperLight);
}

.mainTop__menuItemWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

/* .mainTop__menuItemWrapper_a {
  background: #e7b9b9;
}
.mainTop__menuItemWrapper_b {
  background: #c4da89;
}
.mainTop__menuItemWrapper_c {
  background: #a1a8e4;
}
.mainTop__menuItemWrapper_d {
  background: #87f1c0;
} */

.mainTop__menuItem {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  flex-direction: column;
  text-decoration: none;
  /* color: #000; */
}
.mainTop__menuItem:hover,
.mainTop__menuItem:focus {
  text-decoration: none;
}

.mainTop__menuItemTop {
  display: flex;
  justify-content: space-between;
}

.mainTop__menuItemTitle {
  font-size: 1.5rem;
  font-weight: 600;
  /* color: #000; */
}

.mainTop__menuItemTop i {
  font-size: 3rem;
}

.mainTop__menuItemBottom {
  width: 100%;
  margin-top: auto;
  font-size: 1rem;
  line-height: 1.5;
}

.mainTop__hideBoxOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2490;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}

.mainTop__hideContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2500;
  padding: 10px;
}

/*Если делать раскрытие в квадрате кнопок - то разкомментировать этот блок и закоментировать следующий*/
/* .mainTop__hideBox {
  position: absolute;
  z-index: 2500;
  display: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  left: 0;
  top: 0;
} */
.mainTop__hideBox {
  display: none;
  position: fixed;
  z-index: 2500;
  width: 50%;
  top: 50%;
  left: 25%;
  height: auto;
  padding: 10px;
  transform: translate(0, -50%);
}

.mainTop__hideBoxInner {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.mainTop__hideBoxInnerHeader {
  display: flex;
  justify-content: space-between;
}

.mainTop__hideBoxInnerTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mainTop__hideBoxInnerTitle i {
  font-size: 2rem;
  margin-right: 10px;
}
.mainTop__hideBoxInnerTitle span {
  font-size: 1.5rem;
}

.mainTop__hideBoxClose {
  cursor: pointer;
}

.mainTop__hideBoxClose i {
  font-size: 1.5rem;
}

.mainTop__hideBoxInnerContent {
  flex: 1;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px 0 0;
}

.mainTop__hideBoxInnerContentInner {
  position: relative;
  width: 100%;
}

.topMenuBox {
  position: relative;
}
.topMenuBox li {
  list-style: none;
}
.topMenuBox li a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.5;
}
