@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
  .mainTop {
    flex-direction: column;
  }
  .mainTop__left {
    order: 2;
    width: 100%;
  }
  .mainTop__promo {
    padding: 5px 10px 0;
  }
  .mainTop__right {
    order: 1;
    width: 100%;
    padding: 0 5px;
  }
  .mainTop__menuItemOuter {
    position: relative;
    width: 25%;
    height: auto;
    padding: 5px;
  }

  .mainTop__menuItemWrapper {
    width: 100%;
    height: 0;
    padding-top: 60%;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  .mainTop__menuItem {
    padding: 15px;
  }

  /*////////////////////////////////*/

  /* .mainTop__hideBox {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 25%;
    height: auto;
    transform: translate(0, -50%);
  } */
}

@media only screen and (max-width: 920px) {
  .mainTop__menuItemBottom {
    line-height: 1.2;
  }
}

@media only screen and (max-width: 800px) {
  .mainTop__menuItemWrapper {
    height: auto;
    padding: 0;
  }
  .mainTop__menuItem {
    position: relative;
  }
  .mainTop__menuItemBottom {
    display: none;
  }
  .mainTop__menuItemTop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainTop__menuItemTitle {
    order: 2;
    margin-top: 5px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 768px) {
  .mainTop__hideBox {
    width: 70%;
    left: 15%;
  }
}

@media only screen and (max-height: 600px) {
  .mainTop__hideBox {
    height: 70vh;
  }
}

@media only screen and (max-width: 600px) {
  .mainTop__menuItemOuter {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .mainTop__menuItem {
    padding: 10px;
  }
  .mainTop__menuItemTitle {
    font-size: 1.25rem;
  }

  .mainTop__menuItemTop i {
    font-size: 2rem;
  }
  .mainTop__hideBox {
    width: 90%;
    left: 5%;
  }
}

@media only screen and (max-height: 414px) {
  .mainTop__hideBox {
    height: 90vh;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
