.mainProblem__area {
  position: relative;
}

.mainProblem__outer {
  position: relative;
}

.mainProblem {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}

.mainProblem__itemOuter {
  width: 50%;
  padding: 10px;
}

.mainProblem__item {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #fff;
}

.mainProblem__itemImg {
  width: 50%;
  order: 1;
  padding: 5px;
}
.mainProblem__itemImg img {
  display: block;
  width: 100%;
}
.mainProblem__itemInfo {
  width: 50%;
  order: 2;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 30px;
  /* align-items: flex-end; */
}

.mainProblem__itemInfoTitle {
  font-size: 1.5rem;
  color: #000;
}

.mainProblem__itemInfoContent {
  margin: 20px 0 0 0;
  font-size: 1rem;
  color: #000;
}

.mainProblem__itemInfoContent ul {
  list-style: none;
}

.mainProblem__itemInfoContent li {
  margin-bottom: 5px;
  color: #000;
}
.mainProblem__itemInfoContent p {
  margin-bottom: 5px;
  color: #000;
}

.mainProblem__itemInfoContent p:last-child,
.mainProblem__itemInfoContent li:last-child {
  margin: 0;
}
