@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .mainProblem {
    margin: 5px -5px 0;
  }
  .mainProblem__itemOuter {
    padding: 5px;
  }
  .mainProblem__itemInfoTitle {
    margin-bottom: 10px;
  }
  .mainProblem__itemInfoUl li {
    margin-bottom: 1px;
  }
  .mainProblem__itemInfo {
    padding: 0 10px 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .mainProblem__itemInfo {
    padding: 0 5px 0 5px;
  }
  .mainProblem__itemInfoTitle {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
  }
  .mainProblem__itemInfoUl li {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 480px) {
  .mainProblem__itemOuter {
    width: 100%;
    /* padding: 10px; */
  }
  .mainProblem__itemInfo {
    padding: 0 10px 0 10px;
  }
  .mainProblem__itemInfoTitle {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .mainProblem__itemInfoUl li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
