@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .topMenu__outer {
    display: none;
  }
  .menuButton1__area {
    display: flex;
  }
  .topMenu__wrapper {
    justify-content: space-between;
    padding: 0.3125rem 0;
  }

  .leftMenu__outer {
    display: none;
    /* width: 100%;
    margin-bottom: 10px; */
  }

  .leftMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    border: none;
    margin: 0 -5px;
  }
  .leftMenu li.lev1 {
    padding: 0 5px 5px;
    width: 100%;
  }
  .leftMenu li a {
    border: none;
  }

  .menuCategoryMastersLink {
    padding: 2px;
  }
  .leftMenu li.lev1 .lev_a_wrapper .openInner {
    width: 3rem;
  }
  .leftMenu li.lev1 .lev_a_wrapper > a {
    padding: 0.625rem 3rem 0.625rem 0.625rem;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
