@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
  .juneSlider__item {
    height: 250px;
  }
  .julySlider.swiper-container {
    height: 240px;
  }
  .promoBox1 {
    height: 240px;
  }
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .juneSlider__item {
    height: 200px;
  }
  .julySlider.swiper-container {
    height: 200px;
  }
  .promoBox1 {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .juneSlider__item {
    height: 150px;
  }
  .julySlider.swiper-container {
    height: 150px;
  }
  .sliderPlus {
    display: flex;
    flex-direction: column;
  }
  .julySlider__outer {
    width: 100%;
  }
  .promoBox1__area {
    width: 100%;
    padding: 10px 0 0 0;
  }
  /* .promoBox1 {
    height: 100px;
  } */
  img.creative1_dt {
    display: none;
  }

  img.creative1_mb {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .juneSlider__item {
    height: 130px;
  }
  .julySlider.swiper-container {
    height: 130px;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
  .juneSlider__item {
    height: 100px;
  }
  .julySlider.swiper-container {
    height: 100px;
  }
}
