/* juneSlider Slick*/

.juneSlider__area {
  position: relative;
  padding-top: 0.625rem;
}

.juneSlider {
  width: 100%;
  position: relative;
  /* padding-bottom: 2.25rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slick-list {
  display: flex;
  order: 1;
  overflow: hidden;
  padding: 0 !important;
}

.slick-track {
  display: flex;
}

.juneSlider__item {
  height: 300px;
}

.juneSlider__item a {
  text-decoration: none;
  display: block;
  height: 100%;
  pointer-events: none;
  outline: none;
  border: 0;
}
.juneSlider__item a,
.juneSlider__item a:active,
.juneSlider__item a:focus {
  outline: none;
}

.slick-slide:focus {
  outline: none !important;
}

.juneSlider__item.slick-active a {
  pointer-events: all;
  border: none !important;
  outline: none !important;
}

.juneSlider__item img {
  display: block;
  height: 100%;
  border: none;
}

.juneSlider__item img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
.juneSlider__item.slick-active img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
  /* анимация плавного перехода */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.june__slickBtnPrev,
.june__slickBtnNext {
  /* position: absolute;
  bottom: 0; */
  margin: 0.5rem 1rem;
  width: 1.25rem;
  height: 1.25rem;
  background: #a6a6a6;
  text-align: center;
  transition: all 0.2s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
.june__slickBtnPrev {
  /* left: 0; */
  order: 2;
}
.june__slickBtnNext {
  /* right: 0; */
  order: 4;
}
.june__slickBtnPrev i,
.june__slickBtnNext i {
  font-size: 0.5rem;
  color: #fff;
}
.june__slickBtnPrev:hover,
.june__slickBtnNext:hover {
  background: var(--tc0);
}

.june__dots {
  padding-top: 0.625rem;
  order: 3;
  display: flex;
  /* position: absolute;
  bottom: 0.3125rem; */
  /* margin: 0 auto;
  left: 50%;
  position: absolute; */
  /* -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); */
}

.june__dots li {
  list-style: none;
}

.june__dots li button {
  text-indent: -9999px;
  outline: none;
  border: none;
  width: 1rem;
  height: 1rem;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
  background: #a6a6a6;
}
.june__dots li.slick-active button {
  background: var(--tc0);
}
/* slickSlider-END */
