@media only screen and (max-width: 1200px) {
  .w0 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 12px;
  }
  .toTop {
    z-index: 2600;
    position: fixed;
    left: auto;
    right: 10px;
    bottom: 100px;
    /* background: #be3f46; */
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
  .content img {
    width: 100%;
    float: none !important;
    margin: 10px 0;
  }
  .site__center {
    position: relative;
    padding: 0 0 10px;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
