@media only screen and (max-width: 1200px) {
  .w0 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .content blockquote {
    margin: 50px auto;
    width: 90%;
    padding: 30px 50px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 920px) {
  h1 {
    margin: 0 0 20px 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .content p,
  .content ul,
  .content ol,
  .content table {
    line-height: 1.3rem;
    margin: 0 0 10px 0;
  }
  .toTop {
    position: fixed;
    left: auto;
    right: 10px;
    bottom: 100px;
    width: 2rem;
    height: 2rem;
    /* background: #be3f46; */
  }
}

@media only screen and (max-width: 600px) {
  .content blockquote {
    margin: 30px auto;
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 14px;
  }
  .content img {
    width: 100%;
    float: none !important;
    margin: 10px 0;
  }
  /* .site__center {
    position: relative;
    padding: 0 0 10px;
  } */
  .site__center {
    position: relative;
    padding: 5px 0 15px;
  }
  .content ul li {
    margin: 0 0 0.75rem 0;
  }
}

@media only screen and (max-width: 414px) {
  h1 {
    font-size: 1.875rem;
    margin: 0 0 10px 0;
  }

  h2 {
    font-size: 1.625rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
  .content__outer {
    padding: 10px 0;
  }
  .content blockquote {
    margin: 20px auto;
    padding: 20px 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
}
