:root {
  --bg0: rgba(248, 235, 218, 1);
  --bg1: rgba(248, 235, 218, 0.9);
  --bg2: #ccc;

  --link1: #ff8000;
  --link1hov: #ff5e00;

  --tc0: #592004;
  --tc0_light: #692604;
  --tc1: #2b2a29;
  --x1dark: #4b4b4b;
  --x1grey: #929292;
  --x1greyDark: #525252;
  --x1greyLight: #dadada;
  --x1greySuperLight: #f4f4f4;

  --color1: #ff8000;
  --color2: #f5c98c;

  --colorFFF: #fff;
  --color000: #000;
  --colorLightGrey: #f6f6fa;
  --colorGrey: #bebebe;
  --colorDarkGrey: #6b6b6b;

  /* --redFill: #f76060; */
  --redFill: #ff4141;
  --redFillhover: #ff2525;
  --tColor: #413328;
  --tColorLight: #574435;

  --x1border: #e0e0e0;

  --x1greyDark: #525252;
  --title1bg: #e6e6e6;
}

.stop {
  overflow: hidden;
  padding-right: 0;
}

.w0 {
  width: 100%;
  position: relative;
}

.w1 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.colorFFF {
  color: #ffffff;
}

.color000 {
  color: #000000;
}

.bgE5E5E5 {
  background-color: #e5e5e5;
}

a.hover {
  text-decoration: none !important;
}

.hide_600 {
  display: block;
  display: inline-block;
}

.show_600 {
  display: none;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

/* .indent0 {
  padding-left: 0;
}

.indent1 {
  padding-left: 0.625rem;
}

.indent2 {
  padding-left: 0.9375rem;
}

.indent3 {
  padding-left: 1.25rem;
} */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.instagramNewBackground {
  display: inline-block;
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  font-size: 220px;
  line-height: 250px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.xScroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--colorLightGrey);
}

.xScroll::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--colorLightGrey);
}

.xScroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--tc0);
}
