mixin card3
  .card3
    .card3__itemOuter
      a.card3__item(href="")
        .card3__itemImg
          .card3__itemImgInner(style="background-image: url(assets/img/problem/omolozhenie.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Омоложение
          .card3__itemInfoContent
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum!
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица
          .card3__priceBtn
            i.icon-rrubles
        .innerPriceBox3__wrapper
          .innerPriceBox3__overlay 
            .innerPriceBox3.colorBox_e
              .innerPriceBox3__header
                .innerPriceBox3__title Лазерная эпиляция Candela
                .innerPriceBox3__close
                  i.icon-close1
              .innerPriceBox3__content.xScroll2 
                .priceBox3__area
                  .priceBox3__title
                    h3 Название прайса
                  .priceBox3
                    table
                      tbody
                        tr
                          td Лазерная эпиляция: подбородок
                          td 1900 руб.
                        tr
                          td Лазерная эпиляция: щеки
                          td 2900 руб.
                        tr
                          td Лазерная эпиляция: верхняя губа
                          td 1000 руб.
                        tr
                          td Лазерная эпиляция: лицо полностью
                          td 4800 руб.
                        tr
                          td Лазерная эпиляция: подбородок
                          td 1900 руб.
                        tr
                          td Лазерная эпиляция: щеки
                          td 2900 руб.
                        tr
                          td Лазерная эпиляция: верхняя губа
                          td 1000 руб.
    .card3__itemOuter
      a.card3__item(href="")
        .card3__itemImg
          .card3__itemImgInner(style="background-image: url(assets/img/problem/figura.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Коррекция фигуры
          .card3__itemInfoContent
            p Lorem ipsum dolor sit amet dolor sit amet
    .card3__itemOuter
      a.card3__item(href="")
        .card3__itemImg
          .card3__itemImgInner(style="background-image: url(assets/img/problem/figura.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Проблемы кожи
          .card3__itemInfoContent
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица
    .card3__itemOuter
      a.card3__item(href="")
        .card3__itemImg
          .card3__itemImgInner(style="background-image: url(assets/img/problem/hairproblem.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Проблемы с волосами
          .card3__itemInfoContent
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица
    .card3__itemOuter
      a.card3__item(href="")
        .card3__itemImg
          .card3__itemImgInner(style="background-image: url(assets/img/problem/clear.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Очищение кожи
          .card3__itemInfoContent
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица
    .card3__itemOuter
      a.card3__item(href="")
        .card3__itemImg
          .card3__itemImgInner(style="background-image: url(assets/img/problem/omolozhenie.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Удаление волос
          .card3__itemInfoContent
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица




mixin card3_apparatusTpl
  .card3
    .card3__itemOuter
      a.card3__item_ap(href="")
        .card3__itemImg_ap
          .card3__itemImgInner(style="background-image: url(assets/img/problem/omolozhenie.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Омоложение
          .card3__itemInfoContent
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum!
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица
    .card3__itemOuter
      a.card3__item_ap(href="")
        .card3__itemImg_ap
          .card3__itemImgInner(style="background-image: url(assets/img/apparatus/01.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Коррекция фигуры
          .card3__itemInfoContent
            p Lorem ipsum dolor sit amet dolor sit amet
    .card3__itemOuter
      a.card3__item_ap(href="")
        .card3__itemImg_ap
          .card3__itemImgInner(style="background-image: url(assets/img/apparatus/02.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Проблемы кожи
          .card3__itemInfoContent
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица
    .card3__itemOuter
      a.card3__item_ap(href="")
        .card3__itemImg_ap
          .card3__itemImgInner(style="background-image: url(assets/img/apparatus/03.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Проблемы с волосами
          .card3__itemInfoContent
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица
    .card3__itemOuter
      a.card3__item_ap(href="")
        .card3__itemImg_ap
          .card3__itemImgInner(style="background-image: url(assets/img/apparatus/04.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Очищение кожи
          .card3__itemInfoContent
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица
    .card3__itemOuter
      a.card3__item_ap(href="")
        .card3__itemImg_ap
          .card3__itemImgInner(style="background-image: url(assets/img/apparatus/05.jpg)")
        .card3__itemInfo
          .card3__itemInfoTitle Удаление волос
          .card3__itemInfoContent
            ul
              li Лифтинг
              li Морщины
              li Подтяжка 
              li Контур лица


mixin eCard 
  .eCard
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft(style="background-image: url(assets/img/problem/01.jpg)")
          .eCard__itemInnerRight
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Инъекции на основе гиалуроновой кислоты. Улучшают качество кожи, разглаживают морщины
              ul
                li Мезоскульпт
                li Новакутан
                li Профайло 
                li ИАЛ
          .card3__priceBtn
            i.icon-rrubles
          .innerPriceBox3__wrapper
            .innerPriceBox3__overlay 
              .innerPriceBox3.colorBox_e
                .innerPriceBox3__header
                  .innerPriceBox3__title Лазерная эпиляция Candela
                  .innerPriceBox3__close
                    i.icon-close2021
                .innerPriceBox3__content.xScroll2 
                  .priceBox3__area
                    .priceBox3__title
                      h3 Название прайса
                    .priceBox3
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft(style="background-image: url(assets/img/problem/02.jpg)")
          .eCard__itemInnerRight
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Безоперационная подтяжка лица и тела.
              ul
                li Ulthera System (SMAS)
                li Liftera-A (SMAS)
                li Venus Legacy (RF)
                li M22 Lumenis
                li MJoule BBL HERO
                li EmSculpt
                li Scarlet S (RF иглами)
          .card3__priceBtn
            i.icon-rrubles
          .innerPriceBox3__wrapper
            .innerPriceBox3__overlay 
              .innerPriceBox3.colorBox_e
                .innerPriceBox3__header
                  .innerPriceBox3__title Лазерная эпиляция Candela
                  .innerPriceBox3__close
                    i.icon-close2021
                .innerPriceBox3__content.xScroll2 
                  .priceBox3__area
                    .priceBox3__title
                      h3 Название прайса
                    .priceBox3
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft(style="background-image: url(assets/img/problem/03.jpg)")
          .eCard__itemInnerRight
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Безоперационная подтяжка лица и тела.
              ul
                li Ulthera System (SMAS)
                li Liftera-A (SMAS)
                li Venus Legacy (RF)
                li M22 Lumenis
                li MJoule BBL HERO
                li EmSculpt
                li Scarlet S (RF иглами)
          .card3__priceBtn
            i.icon-rrubles
          .innerPriceBox3__wrapper
            .innerPriceBox3__overlay 
              .innerPriceBox3.colorBox_e
                .innerPriceBox3__header
                  .innerPriceBox3__title Лазерная эпиляция Candela
                  .innerPriceBox3__close
                    i.icon-close2021
                .innerPriceBox3__content.xScroll2 
                  .priceBox3__area
                    .priceBox3__title
                      h3 Название прайса
                    .priceBox3
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft(style="background-image: url(assets/img/problem/04.jpg)")
          .eCard__itemInnerRight
            .eCard__itemTitle BBL HERO: лечение сосудистых патологий
            .eCard__itemContent
              p Фототерапия на аппарате M Joule с инновационным модулем BBL HERO: сосудистые патологии на лице (в т.ч. розацеа, купероз) и теле (в т.ч. ангиомы)
          .card3__priceBtn
            i.icon-rrubles
          .innerPriceBox3__wrapper
            .innerPriceBox3__overlay 
              .innerPriceBox3.colorBox_e
                .innerPriceBox3__header
                  .innerPriceBox3__title Лазерная эпиляция Candela
                  .innerPriceBox3__close
                    i.icon-close2021
                .innerPriceBox3__content.xScroll2 
                  .priceBox3__area
                    .priceBox3__title
                      h3 Название прайса
                    .priceBox3
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.



mixin eCardApp 
  .eCard
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft.eCard__itemInnerLeft_app(style="background-image: url(assets/img/apparatus/01.jpg)")
          .eCard__itemInnerRight.eCard__itemInnerRight_app
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Инъекции на основе гиалуроновой кислоты. Улучшают качество кожи, разглаживают морщины
              ul
                li Мезоскульпт
                li Новакутан
                li Профайло 
                li ИАЛ
          