mixin eShopMenu
  nav.eShopMenu__outer 
    ul.eShopMenu
      li.lev1
        .esli_inner
          a.hasInner(href="") Решить проблему
          .openInner
        ul
          li.lev2
            .esli_inner
              a.hasInner(href="") Лифтинг
          li.lev2
            .esli_inner
              a.hasInner(href="") Пигментация
          li.lev2
            .esli_inner
              a.hasInner(href="") Акне
          li.lev2
            .esli_inner
              a.hasInner(href="") Лишний вес
      li.lev1.active
        .esli_inner
          a.hasInner(href="") Услуги
          .openInner
        ul
          li.lev2.active
            .esli_inner
              a.hasInner(href="") Аппаратная косметология 
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="") фотоомоложение
              li.lev3
                .esli_inner
                  a(href="") лазерная косметология
              li.lev3.active
                .esli_inner
                  a(href="") список всех процедур
          li.lev2
            .esli_inner
              a(href="") Инъекционная косметология
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="") Список всех методик
          li.lev2
            .esli_inner
              a.hasInner(href="") Лечебная косметология 
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="") фототерапия в дерматологии
              li.lev3
                .esli_inner
                  a(href="") лазеротерапия в дерматологии
              li.lev3
                .esli_inner
                  a(href="") подология
              li.lev3
                .esli_inner
                  a(href="") трихология
              li.lev3
                .esli_inner
                  a(href="") лечение храпа
              li.lev3
                .esli_inner
                  a(href="") список всех процедур
          li.lev2
            .esli_inner
              a.hasInner(href="") Эстетика и уход
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="") список всех процедур
          li.lev2
            .esli_inner
              a.hasInner(href="") Имиджевая студия
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="") визаж
              li.lev3
                .esli_inner
                  a(href="") стрижка
              li.lev3
                .esli_inner
                  a(href="") окрашивание
              li.lev3
                .esli_inner
                  a(href="") уход за волосами
              li.lev3
                .esli_inner
                  a(href="") укладка
              li.lev3
                .esli_inner
                  a(href="") лечение волос (трихология)
              li.lev3
                .esli_inner
                  a(href="") brow bar
              li.lev3
                .esli_inner
                  a(href="") маникюр
              li.lev3
                .esli_inner
                  a(href="") педикюр
              li.lev3
                .esli_inner
                  a(href="") лечение стопы и ногтевой пластины (подология)
      li.lev1
        .esli_inner
          a(href="") Специалисты
      li.lev1
        .esli_inner
          a.hasInner(href="") Оборудование
          .openInner
        ul
          li.lev2
            .esli_inner
              a(href="") LPG
          li.lev2
            .esli_inner
              a(href="") Candela
          li.lev2
            .esli_inner
              a(href="") Fotona
      li.lev1
        .esli_inner
          a(href="") Бренды
      li.lev1
        .esli_inner
          a.hasInner(href="") О нас
          .openInner
        ul
          li.lev2
            .esli_inner
              a(href="") Контакты
          li.lev2
            .esli_inner
              a(href="") Дополнительная информация
          li.lev2
            .esli_inner
              a(href="") Вакансии
      li.lev1
        .esli_inner
          a(href="") Блог
      li.lev1
        .esli_inner
          a(href="") Лицензии
      li.lev1
        .esli_inner
          a(href="") Акции
      li.lev1
        .esli_inner
          a(href="") Запись на прием
