mixin footer
  .footer__area.w0
    footer.footer.w1
      .f1
        .tm © "Бьюти Лаунж", 2020
        .oferta *Информация на сайте не является публичной офертой
        a.policy1(href='#') Политика конфиденциальности
        .dev
          a(href="mailto:zokrat@yandex.ru") Связаться с разработчиком
      .f2
        ul.footerMenu
          li
            a(href="#") Главная
          li
            a(href="#") Услуги
          li.endLeftBlock
            a(href="#") Специалисты
          li
            a(href="#") Бренды
          li
            a(href="#") Советы эксперта
          li
            a(href="#") Информация
          li
            a(href="#") Контакты
      .f3
        .footer__address г. Саратов, ул. Московская, 117
        .footerTime с 10:00 до 21:00
        a.footerPhone(href='tel:+78452260000') +7 (8452) 26-00-00
        a.footerPhone(href='tel:+78452650500') +7 (8452) 65-05-00
      .f4
        .footer__linksTitle Следите за нами в соцсетях
        .footerSGlinks
          a(href="https://www.instagram.com/beauty_lounge_saratov/"  target="_blank")
            span
              i.icon-ig
            p Центр косметологии и красоты
          a(href="https://www.instagram.com/beauty_lounge_image/"  target="_blank")
            span
              i.icon-ig
            p Имиджевый центр
          a(href="https://www.instagram.com/beauty_lounge_cosmetology/"  target="_blank")
            span
              i.icon-ig
            p Центр косметологии
          //- a(href='#')
          //-   i.icon-fb
          //- a(href='#')
          //-   i.icon-vk
          //- a(href='#')
          //-   i.icon-ok
          //- a(href='#')
          //-   i.icon-ig
