mixin videogallery
  .videoBox__area
    .videoBox__outer
      .videoBox
        a(data-fancybox='', href='https://www.youtube.com/watch?v=5SEej5rBgqM')
          img(src='https://img.youtube.com/vi/5SEej5rBgqM/sddefault.jpg', alt='')
    .videoBox__outer
      .videoBox
        a(data-fancybox='', href='https://www.youtube.com/watch?v=P5csD0SX8jI')
          img(src='https://img.youtube.com/vi/P5csD0SX8jI/sddefault.jpg', alt='')

mixin gallery
  .gallery
    .gallery__item
      a(href='assets/img/gal/06.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/06.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/02.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/02.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/03.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/03.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/04.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/04.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/05.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/05.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/04.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/04.jpg', alt='1')