mixin header
  .header__area.w0
    header.header.w1
      .topLine
        .topLine__inner
          span Московская д. 117, ТК «Мир»
          a(href="#") Посмотреть на карте
      .header__line
        .logo1
          a(href="#")
            img(src="assets/img/logo21.png", alt="")
        .header__phoneArea
          .header__phoneItem
            span Центр косметлогии:
            a(href="tel:+78452260000") +7 (8452) 26-00-00
          .header__phoneItem
            span Запись на прием:
            a(href="tel:+78452650500") +7 (8452) 65-05-00
          .header__phoneItemText ежедневно с 9:00 до 21:00
        .header__callAction Заказать звонок
        .socialLink
          a(href="#").sIg
            i.icon-ig
          a(href="#").sFb
            i.icon-fb
          a(href="#").sVk
            i.icon-vk
          a(href="#").sOk
            i.icon-ok

        



