mixin header
  .header__area.w0
    header.header.w1
      .topLine
        .topLine__inner
          span г.Саратов, ул.Московская д. 117, ТК «Мир»
          a(href="#") 
            span Посмотреть на карте
            i.icon-marker1  

      .header__line
        .logo1
          a(href="#")
            img(src="assets/img/logo-1.svg", alt="Центр косметологии и красоты Бьюти Лаунж")
        .header__phoneArea
          .header__phoneItem
            span Центр косметлогии:
            a(href="tel:+78452260000") 
              i.icon-phone-call-12
              span +7 (8452) 26-00-00
          .header__phoneItem
            span Запись на прием:
            a(href="tel:+78452650500") 
              i.icon-phone-call-12
              span +7 (8452) 65-05-00
          .header__phoneItemText ежедневно с 9:00 до 21:00
        //- .header__rightBtns
        .header__callActionNewArea
          .header__callAction(title="Заказать звонок")
            span Заказать звонок
            i.icon-phone1
          a.header__callAction2(href="https://n322952.yclients.com/" target="_blank" title="Заказать звонок")
            span Онлайн запись
            i.icon-calendar2
        .igTopBtn__area
          .igTopBtn
            i.icon-instagram2
        .socialLink
          a(href="#")
            p Центр косметологии и красоты
            span.sIg
              i.icon-ig
          a(href="#")
            p Имиджевый центр
            span.sIg
              i.icon-ig
          a(href="#")
            p Центр косметологии
            span.sIg
              i.icon-ig
              
            //- a(href="#").sFb
            //-   i.icon-fb
            //- a(href="#").sVk
            //-   i.icon-vk
            //- a(href="#").sOk
            //-   i.icon-ok
  .mbMenu__outer
    .mbMenu
      .mbMenu__itemOuter
        a.mbMenu__item.mbMenu__mainBtn_JS(href="#")
          i.icon-list
          span Главное меню
      .mbMenu__itemOuter
        a.mbMenu__item.mbMenu__servBtn_JS(href="#")
          i.icon-concealer
          span Услуги
      .mbMenu__itemOuter
        a.mbMenu__item.mbMenu__solutionBtn_JS(href="#")
          i.icon-darts
          span Решить проблему
      .mbMenu__itemOuter
        a.mbMenu__item.mbMenu__searchBtn_JS(href="#")
          i.icon-search2
          span Поиск


        



