mixin header2
  .topLine2__area.w0
    .topLine2.w1
      .topLine2__address ул. Московская, 117, 2 этаж, ТК "МИР"
      .topLine2__time ежедневно с 9:00 до 21:00
      .topLine2__sLinks
        .topLine2__sLinkItem.igTopBtn2
          i.icon-instagram2
          span Инстаграм
        a.topLine2__sLinkItem(href="")
          i.icon-youtube
          span Наш youtube-канал
  .header2__area.w0
    header.header2.w1
      .header2__logo
        a(href="#")
          img(src="assets/img/logo-1.svg", alt="Центр косметологии и красоты Бьюти Лаунж")
      //- .header2__right
      .header2__contacts
        .header2__contactsItem
          .header2__contactsItemTitle Центр косметологии:
          a.header2__contactsItemLink(href="tel:+78452260000")
            i.icon-phone-call-12
            span +7 (8452) 26-00-00
        .header2__contactsItem
          .header2__contactsItemTitle Запись на прием:
          a.header2__contactsItemLink(href="tel:+78452650500")
            i.icon-phone-call-12
            span +7 (8452) 65-05-00
      .header2__btn Записаться на прием
          

        




