mixin header3
  .topLine3__area
    .topLine3
      .topLine3__cont
        .topLine3__address
          i.icon-marker1
          span ул. Московская, 117, 2 этаж, ТК "МИР"
        .topLine3__time ежедневно с 9:00 до 21:00
      .topLine3__sLinks
        a.topLine3__sLinkItem(href="#")
          i.icon-instagram2
        a.topLine3__sLinkItem(href="#")
          i.icon-youtube
        a.topLine3__sLinkItem.topSearch_JS(href="#")
          i.icon-search2
      .topLine3__menu 
        ul.topLineMenu 
          li
            a(href="#") О нас 
          li
            a(href="#") Блог
          li
            a(href="#") Правовая информация
          li
            a(href="#") Контакты
  .header3__fake
  .header3__area
    header.header3
      .header3__logo
        a(href="#")
          img(src="assets/img/logo-1.svg", alt="Центр косметологии и красоты Бьюти Лаунж")
      a.solution3__btn(href="#") Решить проблему
      ul.topMenu3 
        li.active
          a(href="#") Услуги
          ul
            li
              a(href="") Аппаратная косметология 
            li
              a(href="") Инъекционная косметология 
            li
              a(href="") Имидж-студия 
            li
              a(href="") Эстетика и уход 
            li
              a(href="") Лечебная косметология 
        li
          a(href="#") Специалисты
        li
          a(href="#") Оборудование
        li
          a(href="#") E-shop
      a.header3__contItem(href="tel:+78452260000") 
        i.icon-phone-call
        .header3__contItemInfo 
          span Центр косметологии:
          span +7 (8452) 26-00-00
      .header3__menuBtn.header2__menuBtn_js(data-id="menu1")
        i.icon-menu
        

          

        




