mixin mainBox
  .mainBox__area.w0
    .mainBox__wrapper.w1
      .mainBox.clearfix
        
        .mainBox__itemOuter.mainBox__itemOuter_rightBox
          .mainBox__item
            .rightBox__inner
              img(src="assets/img/logo21.png", alt="")
              span Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda suscipit natus molestias, doloremque dolorem provident?
              a(href="#") Получить консультацию
            img.rightBox__coverImg(src="assets/img/kv280.png", alt="")
        .mainBox__itemOuter.mainBox__itemOuter_big
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек