include __menu

mixin masters
  .masters__area.w0
    .masters__outer.w1
      .title1
        h1 Специалисты нашего центра
      .masters__wrapper
        +leftMenu
        .mastersBox__outer
          .mastersBox
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/chumakova-olga.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/gamayunova-dasha1.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/morozova-olga1.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/stetsura-elena2.png", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/masha-simonova1.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/narek.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/shevchenko-anna-02.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/chumakova-olga.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/gamayunova-dasha1.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/morozova-olga1.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/stetsura-elena2.png", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/masha-simonova1.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/narek.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/shevchenko-anna-02.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
            .mastersBox__itemOuter
              a.mastersBox__item(href="#")
                img(src="assets/img/sotr/vigo1.jpg", alt="")
                span.mastersBox__info
                  span Иванова Ирина Владимировна
                  span Косметолог
      .masterBox__content
        .content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aliquam debitis officia voluptatibus vero repellat ab quia amet assumenda fuga. Quo, inventore, molestias, commodi sapiente necessitatibus soluta fugiat rerum impedit ullam dicta sequi saepe? Tempora molestiae nam quibusdam eaque sunt fugiat rem et nihil quisquam, voluptate minus dolorem, hic repellendus.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, odit molestias hic accusantium odio repellendus expedita iste ut cumque porro officia unde dolorem voluptatem autem accusamus. Amet et deserunt laboriosam!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, repellendus?