mixin mainBox
  .mainBox__area.w0
    .mainBox__wrapper.w1
      .mainBox.clearfix
        
        .mainBox__itemOuter.mainBox__itemOuter_rightBox
          .mainBox__item
            .rightBox__innerCover
              img.kv-img(src="assets/img/w285h285.png", alt="")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            .rightBox__inner
              img.logo140(src="assets/img/logo140w.png", alt="")
              img.logo100(src="assets/img/logo100w.png", alt="")
              span Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda suscipit natus molestias, doloremque dolorem provident?
              a(href="#") Получить консультацию
            //- .imgCoverBox
            //-   img.kv-img(src="assets/img/w285h285.png", alt="")
            //-   img.h-img(src="assets/img/w285h590.png", alt="")
            //-   img.w-img(src="assets/img/w590h285.png", alt="")
        .mainBox__itemOuter.mainBox__itemOuter_big
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              .imgCoverBox
                img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек