mixin master
  .master__area.w0
    .master__outer.w1
      .master
        .title1
          h1 Лукьянова Наталья Юрьевна
        .master__top
          .master__intro
            .master__introHeader Главный врач, врач-косметолог
            .master__introContent
              .content
                p кандидат медицинских наук, врач высшей категории
          .master__face
            img(src="assets/img/sotr/lukyanova1.jpg", alt="")
          .master__consForm
        .master__