mixin mainTop
  .mainTop__area.w0
    .mainTop__outer.w1
      .mainTop
        .mainTop__left
          .mainTop__promo
        .mainTop__right
          .mainTop__menu
            .mainTop__menuItemOuter
              .mainTop__menuItemWrapper.mainTop__menuItemWrapper_a
                a.mainTop__menuItem(href="")
            .mainTop__menuItemOuter
              .mainTop__menuItemWrapper.mainTop__menuItemWrapper_b
                a.mainTop__menuItem(href="")
            .mainTop__menuItemOuter
              .mainTop__menuItemWrapper.mainTop__menuItemWrapper_c
                a.mainTop__menuItem(href="")
            .mainTop__menuItemOuter
              .mainTop__menuItemWrapper.mainTop__menuItemWrapper_d
                a.mainTop__menuItem(href="")

