mixin mainBox
  .mainBox__area.w0
    .mainBox__wrapper.w1
      .mainBox.clearfix
        
        .mainBox__itemOuter.mainBox__itemOuter_rightBox
          .mainBox__item
            img(src="assets/img/logo21.png", alt="")
            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda suscipit natus molestias, doloremque dolorem provident?
            a(href="#") Получить консультацию
        .mainBox__itemOuter.mainBox__itemOuter_big
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание второго блока в несколько строчек 
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание 4 блока 
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание пятого блока 
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание шестого блока 
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание седьмого блока 
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание 8 блока 
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание 9 блока
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание 10 блока 
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание 11 блока 
        .mainBox__itemOuter
          a.mainBox__item(href="#", style="background-image: url(assets/img/serv/0001.jpg);")
            img(src="assets/img/kv280.png", alt="")
            span Описание 12 блока