mixin mainProblem
  .mainProblem__area.w0
    .mainProblem__outer.w1
      .mainProblem
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/omolozhenie.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Омоложение
              ul.mainProblem__itemInfoUl
                li Лифтинг
                li Морщины
                li Подтяжка 
                li Контур лица
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/figura.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Коррекция фигуры
              ul.mainProblem__itemInfoUl
                li Лифтинг
                li Морщины
                li Подтяжка 
                li Контур лица
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/kozha.png", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Проблемы кожи
              ul.mainProblem__itemInfoUl
                li Розацеа
                li Акне
                li Купероз 
                li Пигментация
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/hairproblem.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Проблемы с волосами
              ul.mainProblem__itemInfoUl
                li Выпадение
                li Морщины
                li Подтяжка 
                li Контур лица
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/clear.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Очищение кожи
              ul.mainProblem__itemInfoUl
                li Розацеа
                li Акне
                li Купероз 
                li Пигментация
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/epil.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Удаление волос
              ul.mainProblem__itemInfoUl
                li Выпадение
                li Морщины
                li Подтяжка 
                li Контур лица
