mixin menuButton1
  .menuButton1__area.menuButton1__area_JS
    .menuButton1__text Главное меню
    .menuButton1
      span
      span
      span

mixin topMenu
  .topMenu__area.w0
    .topMenu__wrapper.w1
      +menuButton1
      nav.topMenu__outer
        ul.topMenu
          li
            a(href="#") Главная
          li
            a(href="#") Услуги
          li.endLeftBlock
            a(href="#") Специалисты
          li
            a(href="#") Бренды
          li
            a(href="#") Советы эксперта
          li
            a(href="#") Информация
          li
            a(href="#") Контакты
      .topSearch.topSearch_JS
        i.icon-search1

mixin topMenuAdaptive
  .topMenuAdaptive__area
    .topMenuAdaptive__wrapper
      .topMenuAdaptive__close
        i.icon-close1
      nav.topMenuAdaptive__outer
        ul.topMenuAdaptive
          li
            a(href="#") Главная
          li
            a(href="#") Услуги
          li
            a(href="#") Специалисты
          li
            a(href="#") Бренды
          li
            a(href="#") Советы эксперта
          li
            a(href="#") Информация
          li
            a(href="#") Контакты



mixin leftMenu
  
  nav.leftMenu__outer
    nav.solutionMenu__outer
      .solution__btn Решить проблему
      ul.solution
        li
          a(href="") Лифтинг лица
        li
          a(href="") Пигментация
        li
          a(href="") Акне
    ul.leftMenu
      li.lev0
        .lev0wrapper
          a(href="") Все процедуры
      li.lev0
        .lev0wrapper
          a.hasInner(href="") Инъекционная косметология
          .openInner
        ul
          li.lev1
            a(href="") Candela GENTLELASEPRO-U
          li.lev1
            a(href="") Venus Legasy
          li.lev1
            a(href="") Fotona
      li.lev0
        .lev0wrapper
          a(href="") Инъекционная косметология
      li.lev0
        .lev0wrapper
          a(href="") Эстетическая косметология
      li.lev0
        .lev0wrapper
          a(href="") Эстетика тела
      li.lev0
        .lev0wrapper
          a(href="") Дерматология
      li.lev0
        .lev0wrapper
          a(href="") Трихология
      li.lev0
        .lev0wrapper
          a(href="") Nail Bar
      li.lev0
        .lev0wrapper
          a(href="") Hair стиль
      li.lev0
        .lev0wrapper
          a(href="") Brow Bar