mixin outerLinkBox
  .outerLinkBox__area
    .outerLinkBox__outer
      .outerLinkBox
        .outerLinkBox__item
          .outerLinkBox__itemTitle Название процедуры или какого-либо оборудования для перехода
          a.outerLinkBox__itemLink(href="#") Подробнее...
        .outerLinkBox__item
          .outerLinkBox__itemTitle Название процедуры или какого-либо оборудования для перехода Название процедуры или какого-либо оборудования для перехода
          a.outerLinkBox__itemLink(href="#") Подробнее...
        .outerLinkBox__item
          .outerLinkBox__itemTitle Название процедуры или какого-либо оборудования для перехода
          a.outerLinkBox__itemLink(href="#") Подробнее...