mixin news
  .news__area.w0
    .news__outer.w1
      .title 
        h2 Новости
      .news
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/11.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Лукьянова Наталья
              span.news__itemDesc Причины исключить полностью или ограничить потребление молочных продуктов.
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/12.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Иванова Вероника
              span.news__itemDesc Новинки косметологии этого лета
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              //- span.news__itemAuthor Петрова Марина
              span.news__itemDesc Выбираем масло для массажа. Мнения наших экспертов
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/14.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Кузнецова Светлана
              span.news__itemDesc Средства для загара. Консультация специалиста
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/12.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Иванова Вероника
              span.news__itemDesc Новинки косметологии этого лета
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              //- span.news__itemAuthor Петрова Марина
              span.news__itemDesc Выбираем масло для массажа. Мнения наших экспертов
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/14.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Кузнецова Светлана
              span.news__itemDesc Средства для загара. Консультация специалиста
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              //- span.news__itemAuthor Петрова Марина
              span.news__itemDesc Выбираем масло для массажа. Мнения наших экспертов
      .pagin
        ul.pagination
          li.control
            a(href="#") &#9668;
          li
            a(href="#") 1
          li
            a(href="#") 2
          li.active
            a(href="#") 3
          li
            a(href="#") 4
          li
            a(href="#") 5
          li.control
            a(href="#") &#9658;