include __tempContent
include __gallery

mixin procedure
  .procedure__area.w0
    .procedure__outer.w1
      .title1
        h1 Лазерная эпиляция
      .procedure
        .procedure__intro
          .procedure__introText
            .content
              p Лазерная эпиляция волос  Candela GentleLasePro-U - это самый простой и быстрый способ избавиться от нежелательных волос. 
              p Каждая женщина хочет иметь гладкую и нежную кожу, но многие сталкиваются с проблемой роста нежелательных волос, и эта проблема касаема не только женщин, но и мужчин. Способов избавления от нежелательных волос существует много, и самый эффективный и надежный из них - лазерная эпиляция волос  Candela GentleLasePro-U. 
              p Всего за несколько сеансов можно навсегда распрощаться с нежелательными волосами.
            a.link1#link1(href="#") Перейти к ценам
          .procedure__introImg  
            img(src="assets/img/temp/001.png", alt="")
        .procedure__longContent
          .title1
            h2 Описание
          .content
            +tempContent
        .procedure__video
          +videogallery

