mixin services
  .serv__area.w0
    .serv__outer.w1
      .title1
        h1 Процедуры нашего центра
      .serv__wrapper
        nav.servMenu__outer
          ul.servMenu
            li
              a(href="") Все процедуры
            li
              a(href="") Аппаратная косметология
            li
              a(href="") Инъекционная косметология
            li
              a(href="") Эстетическая косметология
            li
              a(href="") Эстетика тела
            li
              a(href="") Дерматология
            li
              a(href="") Трихология
            li
              a(href="") Nail Bar
            li
              a(href="") Hair стиль
            li
              a(href="") Brow Bar
        .servBox__outer
          .serv
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
