- var pageTitle = 'Процедуры'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __card
include __header3
include __menu
include __eShopMenu
include __eShopCatalog
include __mainTop
include __mainProblem
include __breadcrumbs
include __wideBlock
include __services
include __forms

include __footer
include __menuBottom1




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header3
    //- +topMenu


  .site__center
    +breadcrumbs3

    .split__area
      .split 
        .split__left 
          .eBrands__area 
            .eBrands__btn Бренды компании

        .split__right
          .eGreyLine
            .eSort__area 
              .eSort__item.eSort__title Сортировать по
              .eSort__item
                span По популярности
                i.icon-arrow-up2
              .eSort__item
                span По цене
                i.icon-arrow-up2
              .eSort__item
                span По алфавиту
                i.icon-arrow-up2
            .searchResult__counter 
              span Найдено товаров:
              span 256
      .split 
        .split__left 
          +eShopMenu
        .split__right
          .eCatalog
            +eCatalog

   
    +zBlock3

  .site__footer
    +footer3


  +topMenuAdaptive
  +search1

  +toUp
  
  +formCallBack

  +menuBottom1_page

  //- далее вывод не на главной
  +hideBox

  +scripts
  
