- var pageTitle = 'Страница мастера'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __menu
include __breadcrumbs
include __wideBlock

include __master

include __forms
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
    +topMenu


  .site__center
    +breadcrumbs
    //- +wideBlock
    +master




  .site__footer
    +footer


  +topMenuAdaptive
  +search1

  +toUp

  +scripts
  
